body {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #222;
	letter-spacing: normal;
}

.navbar {
	margin-top: 12px;
	width: 100%;
	line-height: 30px;
}

.navlinks {
	float: right;
}

.navlinks:last-child {
	margin-right: 18px;
}

.navbar a, .navbar i {
	text-decoration: none;
	color: #666;
}

.clearer {
	clear: both;
}

.content {
	margin-top: 160px;
	text-align: center;
}

.maininput {
	margin-top: 30px;
	border: 1px solid #d9d9d9;
	width: 560px;
	height: 20px;
	padding: 10px 5px;
	font-size: 16px;
}

.submitbar {
	margin: 20px 0px;
}

.button {
	border: none;
	padding: 8px 15px;
	margin: 0px 5px;
	background-color: #f5f5f5;
	color: #777;
	font-weight: bold;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	line-height: 40px;
	background-color: #f2f2f2;
}

.footer a {
	text-decoration: none;
	color: #666;
}

.businessbar {
	float: left;
}

.businessbar:first-child {
	margin-left: 18px;
}

.settingsbar {
	float: right;
}

.settingsbar:last-child {
	margin-right: 18px;
}

ul {
	list-style-type: none;
}

li {
	margin: 0 13px;
	display: inline;
}

#mailicon {
	position: relative;
	top: 10px;
	border-radius: 100%;
}

input:focus {
	outline: none;
	border: 1px solid #4d90fe;
}

input:hover {
	border: 1px solid #b7b7b7;
}

.button:hover {
	margin-top: -1px;
	margin-right: 4px;
	margin-left: 4px;
	color: black;
}

.navbar a:hover, .footer a:hover {
	text-decoration: underline;
}

.icon:hover {
	color: black;
}
